body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: #E1FCFD;
}

html{
    height: 100%;
    display: table;
    margin: auto;
}
